@{
    ViewData["Title"] = "News";
}

<div class="container-fluid mt-5" style="background-color: #eee">
    <div class="container p-5">
        <div class="card-deck">

            <div class="card" style="width: 20rem">
                <img src="https://cutt.ly/Tr2Z28Y" alt="" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Lorem ipsum ..</p>
                    <a href="" class="btn btn-primary">Submit</a>
                </div>
            </div>


            <div class="card" style="width: 20rem">
                <img src="https://cutt.ly/Tr2Z28Y" alt="" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Lorem ipsum ..</p>
                    <a href="" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card" style="width: 20rem">
                <img src="https://cutt.ly/Tr2Z28Y" alt="" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Lorem ipsum ..</p>
                    <a href="" class="btn btn-primary">Submit</a>
                </div>
            </div>

        </div>
    </div>
</div>
